/*******************************************************************************
Body Styles
*********************************************************************************/
/************************************
Mixin Standards
*************************************/
h1 {
  font-size: 24px; }

h2 {
  font-size: 22.4px; }

h3 {
  font-size: 20.8px; }

h4 {
  font-size: 19.2px; }

p, span {
  font-size: 16px; }

h1,
h2 {
  font-family: "Crimson Text", serif;
  color: #212121; }

h3,
h4,
span,
p,
a {
  font-family: "Cormorant Garamond", serif;
  color: #757575; }

* {
  box-sizing: border-box; }

html {
  width: calc(100% + 80px); }
  @media (min-width: 800px) {
    html {
      width: 100%; } }

input:focus,
textarea:focus {
  outline: none;
  border: .5px solid #BBDEFB; }

.container {
  margin: 0;
  padding: 0;
  position: relative; }
  .container h2 {
    text-align: center; }
    @media (min-width: 800px) {
      .container h2 {
        text-align: left; } }
  .container #bell-icon {
    width: 100%;
    margin: auto; }
  @media (min-width: 800px) {
    .container .main {
      margin-left: 80px; } }
  .container a {
    text-decoration: none; }
  .container li {
    list-style-type: none;
    cursor: pointer; }

/**********************************************************************************
Charts
***********************************************************************************/
#line {
  padding: 10px; }

#bar, #pie {
  padding: 10px; }

#pie {
  padding-bottom: 10px; }

.traffic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px; }
  @media (min-width: 800px) {
    .traffic {
      flex-direction: row;
      justify-content: flex-end; } }
  .traffic h2 {
    margin: auto; }
    @media (min-width: 800px) {
      .traffic h2 {
        margin-right: auto;
        margin-left: 15px; } }
  .traffic ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 0; }
    @media (min-width: 800px) {
      .traffic ul {
        justify-content: flex-end;
        margin-right: 15px;
        flex-direction: row; } }
    .traffic ul li {
      margin: 5px;
      background: rgba(187, 222, 251, 0.7);
      padding: 10px 20px;
      display: flex;
      width: 95px;
      border-radius: 35px;
      justify-content: center;
      align-items: center;
      transition: transform .5s, background 2s; }
    .traffic ul .selected {
      border: 2px solid #B3E5FC;
      background: #0288D1; }
    .traffic ul .selected a {
      color: #FFFFFF; }
    .traffic ul a {
      color: #212121;
      font-size: 15px; }
      @media (min-width: 800px) {
        .traffic ul a {
          font-size: 20px; } }

.lineChart {
  height: 100%;
  display: flex;
  justify-content: center; }

.smaller-graphs {
  display: flex;
  justify-content: center;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  flex-direction: column; }
  @media (min-width: 800px) {
    .smaller-graphs {
      flex-direction: row; } }

@media (min-width: 800px) {
  canvas#pie {
    border-left: .5px solid black; } }

.pieChart,
.barChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90%; }
  @media (min-width: 800px) {
    .pieChart,
    .barChart {
      width: 50%;
      height: 60%;
      justify-content: flex-start; } }

.graph-header {
  display: flex;
  width: 100%;
  justify-content: center; }
  @media (min-width: 800px) {
    .graph-header {
      justify-content: flex-start;
      align-self: flex-start;
      padding-left: 1em; } }

@media (min-width: 800px) {
  .mobileusers {
    border-left: .5px solid black; } }

.traffic li:hover {
  transform: scale(1.05);
  background: #448AFF;
  border: 2px solid #B3E5FC; }
  .traffic li:hover a {
    color: white;
    font-weight: bold; }

/********************************************************************************
New Members, Recent Activitiy "Secondary-main"
***********************************************************************************/
.secondary-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #BDBDBD; }
  @media (min-width: 800px) {
    .secondary-main {
      flex-direction: row; } }

.new-members {
  width: 100%;
  flex-direction: column;
  padding: 2.5%; }
  @media (min-width: 800px) {
    .new-members {
      border-right: 1px solid #BDBDBD;
      width: 45%;
      padding: 2.5% 2.5% 0 0; } }
  .new-members .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px 12px 0;
    border-bottom: 1px solid #BDBDBD; }
    .new-members .member li {
      display: flex;
      height: 35px; }
    .new-members .member a {
      display: flex;
      align-items: center; }
    .new-members .member img {
      width: 35px;
      border-radius: 25px; }

.member li:nth-of-type(3) {
  margin-left: auto; }

.member li:nth-child(2) {
  margin-left: 10px;
  display: flex;
  flex-direction: column; }

.recent-activity {
  width: 100%;
  padding: 2.5%; }
  @media (min-width: 800px) {
    .recent-activity {
      width: 45%;
      padding: 2.5% 0 0 2.5%; } }
  .recent-activity ul.member-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #BDBDBD; }
    .recent-activity ul.member-activity li {
      height: 35px; }
    .recent-activity ul.member-activity p {
      margin: 0; }
  .recent-activity .member-activity img {
    width: 25px;
    border-radius: 25px; }

.recent-activity li:nth-of-type(3) {
  margin-left: auto; }

.recent-activity li:nth-child(2) {
  margin-left: 10px;
  display: flex;
  flex-direction: column; }

.new-members ul:last-of-type,
.recent-activity ul:last-of-type {
  border-bottom: none; }

/**********************************************************************************
Charts
***********************************************************************************/
.social-media {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  border-bottom: 1px solid black; }
  @media (min-width: 800px) {
    .social-media h2 {
      padding-left: 5%; } }
  .social-media .stats {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 2.5em;
    justify-content: center;
    align-items: center;
    margin: auto; }
    @media (min-width: 800px) {
      .social-media .stats {
        flex-direction: row;
        flex-wrap: wrap; } }
    .social-media .stats .google,
    .social-media .stats .facebook,
    .social-media .stats .twitter,
    .social-media .stats .tumblr,
    .social-media .stats .instagram {
      background: #0288D1;
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      width: 50%;
      min-width: 150px;
      align-items: center;
      border: 1px solid #BBDEFB;
      justify-content: center;
      padding: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 2px 2px 0px rgba(187, 222, 251, 0.5);
      -moz-box-shadow: 2px 2px 2px 0px rgba(187, 222, 251, 0.5);
      box-shadow: 2px 2px 2px 0px rgba(187, 222, 251, 0.5); }
      @media (min-width: 800px) {
        .social-media .stats .google,
        .social-media .stats .facebook,
        .social-media .stats .twitter,
        .social-media .stats .tumblr,
        .social-media .stats .instagram {
          flex-direction: row;
          margin: 10px 15px 0px 0;
          min-width: 150px;
          width: 30%; } }
    .social-media .stats .google li {
      min-width: 110px; }
    .social-media .stats .svg-container {
      background: #B3E5FC;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      width: 80px;
      border-radius: 40px;
      margin-top: 30px; }
      @media (min-width: 800px) {
        .social-media .stats .svg-container {
          margin-top: 0;
          width: 70px; } }
      @media (min-width: 1024px) {
        .social-media .stats .svg-container {
          width: 80px; } }
      .social-media .stats .svg-container img {
        width: 50px; }
    .social-media .stats ul {
      margin-left: 0px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 800px) {
        .social-media .stats ul {
          margin-left: 15px; } }
      .social-media .stats ul li {
        color: white;
        text-align: center; }

.social-media li:nth-of-type(1) {
  font-weight: bold;
  font-size: 20px; }

.social-media li:nth-of-type(2) {
  font-weight: normal;
  font-size: 40px; }

div#successmessage {
  position: fixed;
  height: 100%;
  background: rgba(33, 33, 33, 0.5);
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  div#successmessage .innersuccess {
    background: rgba(3, 169, 244, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 50px; }
  div#successmessage h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 50px; }

.innersuccess input[type="submit"] {
  -webkit-appearance: none;
  width: 75%;
  height: 4em;
  background: #BBDEFB;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  margin: 5px auto;
  cursor: pointer; }

.innersuccess input[type="submit"]:hover {
  background-color: #1976D2;
  border: 3px solid #BBDEFB;
  transition: background-color .5s ease-in, border .5s ease-in; }

#menu {
  position: fixed;
  height: 100%;
  background: rgba(33, 33, 33, 0.5);
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  #menu .innerMenu {
    background: rgba(3, 169, 244, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 90%;
    height: 75%; }
  #menu .ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #menu .nav-icon {
    width: 100%;
    height: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  #menu .icon {
    width: 35%;
    margin: 15px; }

.desktop-nav li:hover {
  border-left: 3px solid white; }

.icon:hover {
  flex-grow: 1.5; }

.close img {
  position: absolute;
  top: 15px;
  width: 55px;
  right: 15px;
  cursor: pointer; }

#close:hover {
  cursor: pointer; }

/********************************************************************************
Tertiary Main
***********************************************************************************/
.tertiary-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px; }
  @media (min-width: 800px) {
    .tertiary-main {
      flex-direction: row;
      height: 450px; } }
  .tertiary-main .settings {
    margin-top: 150px; }
    @media (min-width: 800px) {
      .tertiary-main .settings {
        margin-top: 0; } }
  .tertiary-main .message-user,
  .tertiary-main .settings {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    align-items: center;
    justify-content: center; }
    @media (min-width: 800px) {
      .tertiary-main .message-user,
      .tertiary-main .settings {
        width: 45%;
        padding: 0 2.5%;
        height: 100%;
        justify-content: flex-start; } }
    .tertiary-main .message-user h2,
    .tertiary-main .settings h2 {
      text-align: center;
      align-self: center; }
      @media (min-width: 800px) {
        .tertiary-main .message-user h2,
        .tertiary-main .settings h2 {
          align-self: flex-start; } }
  .tertiary-main .form1,
  .tertiary-main .form2 {
    align-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap; }

.form1 .awesomplete {
  width: 100%; }
.form1 #userinput {
  height: 4em;
  width: 100%;
  text-indent: 15px;
  border-radius: 5px;
  border: 0.5px solid rgba(189, 189, 189, 0.4); }
.form1 textarea {
  height: 16em;
  font-size: 15px;
  width: 100%;
  text-indent: 15px;
  margin-top: 1em;
  border-radius: 5px;
  border: 3px solid rgba(189, 189, 189, 0.4); }
.form1 input[type=submit] {
  height: 3em;
  width: 100%;
  margin-top: auto;
  background: #0288D1;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif;
  margin-top: auto; }

.form2 .row {
  width: 100%;
  display: flex;
  height: 4em;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0; }
  .form2 .row .buttonLabel {
    margin-right: auto;
    width: 108px; }
  .form2 .row .toggleswitch {
    position: relative;
    width: 90px; }
    .form2 .row .toggleswitch input#notifications,
    .form2 .row .toggleswitch input#privacy {
      display: none; }
    .form2 .row .toggleswitch .checkbox-label {
      width: 100%;
      border: 1px solid #0288D1;
      height: 40px;
      display: block;
      background: #0288D1;
      border-radius: 35px;
      overflow: hidden; }
    .form2 .row .toggleswitch .innerswitch {
      display: flex;
      align-items: center;
      width: 200%;
      height: 100%;
      justify-content: space-around; }
    .form2 .row .toggleswitch .switch {
      width: 18px;
      height: 18px;
      border: 3px solid #0288D1;
      display: block;
      border-radius: 20px;
      background: white;
      cursor: pointer;
      margin-right: 5px;
      position: absolute;
      top: 11px;
      right: 5px; }
.form2 select {
  margin: auto auto 15px auto;
  display: block;
  width: 95%;
  height: calc(100% / 12 * 2 );
  -webkit-appearance: none;
  background: url(../icons/downarrow.svg) no-repeat calc(100% - 5px) calc(50%) #BBDEFB;
  text-indent: 1em;
  border: none; }
.form2 input[type=submit] {
  height: 3em;
  -webkit-appearance: none;
  margin: auto auto 0 auto;
  width: 45%;
  border-radius: 5px;
  background: #0288D1;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif; }

.toggleswitch:hover {
  cursor: pointer; }

input#notifications:checked + .checkbox-label .innerswitch,
input#privacy:checked + .checkbox-label .innerswitch {
  margin-left: -100%;
  background: #BBDEFB; }

input#notifications:checked + .checkbox-label .switch,
input#privacy:checked + .checkbox-label .switch {
  left: 5px;
  right: 0px; }

span.innerswitch:after,
span.innerswitch:before {
  display: inline-block;
  width: 45%;
  text-align: center;
  font-weight: bold;
  font-size: 13.5px;
  color: white; }

span.innerswitch:before {
  content: "ON";
  padding-right: 25%; }

span.innerswitch:after {
  content: "OFF";
  padding-left: 25%;
  color: #212121; }

.checkbox-label:hover {
  cursor: pointer; }

#userinput::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(33, 33, 33, 0.4);
  font-size: 18px;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif; }

textarea:focus,
#userinput:focus {
  text-indent: 10px;
  border: .5px solid #BBDEFB; }

#userinput:placeholder-shown,
textarea:placeholder-shown {
  background: rgba(189, 189, 189, 0.2);
  border: 0.5px solid rgba(189, 189, 189, 0.4); }

#userinput:focus,
.form1 textarea:focus {
  -webkit-box-shadow: 2px 4px 2px 0px #bdbdbd;
  -moz-box-shadow: 2px 4px 2px 0px #bdbdbd;
  box-shadow: 0.5px 0.5px 0.5px 0px #bdbdbd; }

textarea::-webkit-input-placeholder,
#userinput::-webkit-input-placeholder {
  text-indent: 15px; }

.awesomplete [hidden] {
  display: none; }

.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.awesomplete {
  display: inline-block;
  position: relative; }

.awesomplete > input {
  display: block; }

.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #212121;
  background: #fff;
  border: 0.5px solid rgba(189, 189, 189, 0.4);
  border-radius: 1px;
  background: rgba(189, 189, 189, 0.01); }

.awesomplete li {
  color: #757575;
  margin: 10px; }

.awesomplete > ul:empty {
  display: none; }

mark {
  background: #03A9F4;
  color: white; }

/**********************************************************************************
Dashbaord & Alert: "Dashboard, search [       ]; alert...."
***********************************************************************************/
.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .dashboard .dashboard-header {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-right: 1px solid #dbdbdb;
    height: 59px;
    padding: 0 65px; }
    @media (min-width: 800px) {
      .dashboard .dashboard-header {
        width: calc(100% / 12 * 1.5);
        padding: 0 100px; } }
  .dashboard h1 {
    padding: .5em;
    margin: 0;
    font-size: 15px;
    font-weight: bold; }
    @media (min-width: 800px) {
      .dashboard h1 {
        font-size: 20px; } }
  .dashboard .search {
    height: 59px;
    display: flex;
    align-items: center;
    margin-right: 0;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    justify-content: flex-end;
    background: #f6f6f6; }
  .dashboard input[type=text] {
    border: 1px solid #dbdbdb;
    min-width: 10em;
    height: 45%;
    border-radius: 5px;
    margin-right: 10px;
    background: url(../icons/search.svg) no-repeat calc(100% - 5px) 50%;
    background-size: 15px;
    background-color: white; }
    @media (min-width: 800px) {
      .dashboard input[type=text] {
        width: 35%; } }

input[type=text]::-webkit-input-placeholder {
  color: #d3d3d3;
  padding-left: 2.5%;
  font-size: 10px; }

input[type=text]:focus {
  text-indent: 2.5%; }

.alert {
  display: flex;
  margin: 15px auto;
  text-align: center;
  background: #448AFF;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  justify-content: space-between;
  padding: 4px;
  color: white; }
  @media (min-width: 800px) {
    .alert {
      padding: 9px; } }
  .alert span {
    color: white; }

.alert img:hover {
  cursor: pointer; }

.alert span:nth-child(1),
span:nth-child(3) {
  font-weight: bold;
  font-size: 15px; }

.alert span:nth-child(3) {
  margin-right: 3px; }

/**********************************************************************************
    Navigation SVG's : "Members, Visits..." Blah Blah Blah!
***********************************************************************************/
.navigation {
  display: none;
  background: #0288D1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @media (min-width: 800px) {
    .navigation {
      background: #0288D1;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      top: 87px;
      width: 80px;
      height: 100%;
      min-height: 100vh; } }
  .navigation ul {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    min-width: 80px; }
    .navigation ul li {
      width: 15%;
      margin: 1em 0em;
      padding: .75em; }
      @media (min-width: 800px) {
        .navigation ul li {
          width: 100%; } }
      @media (min-width: 800px) {
        .navigation ul li img {
          width: 65%; } }

.mobile-nav {
  background: black;
  display: flex;
  width: 5em;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  z-index: 3;
  position: fixed; }
  @media (min-width: 800px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav ul {
    padding-left: 0; }

/************************************
 Header Styles : "My Web Dashboard.."
*************************************/
header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 5.438em;
  background: #03A9F4;
  justify-content: flex-start; }
  @media (min-width: 800px) {
    header {
      align-items: center; } }
  header h1 {
    margin-left: .5em;
    color: white; }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    margin-left: calc(100% - 400px); }
    header ul li {
      list-style-type: none;
      width: 30px;
      text-align: center;
      margin: 0 .5em;
      height: 30px; }
      header ul li .alert-icon {
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 5px;
        position: absolute;
        bottom: 22.4px;
        right: -4px; }
      header ul li img {
        width: 100%;
        height: 100%;
        border-radius: 2em; }
      header ul li span {
        color: white; }
    header ul .vertical-line {
      height: 100%;
      border-radius: 2em;
      background: white; }

header li:nth-of-type(2) {
  width: 2.5px;
  height: 30px; }

header li:nth-of-type(1) {
  position: relative; }

/*# sourceMappingURL=main.css.map */
