html {
  height: 100%; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 16.8px; }

h3 {
  font-size: 15.6px; }

h4 {
  font-size: 14.4px; }

p, span {
  font-size: 12px; }

@media (min-width: 768px) {
  h1 {
    font-size: 36px; }

  h2 {
    font-size: 24px; }

  h3 {
    font-size: 18px; }

  h4 {
    font-size: 14.4px; }

  p, span {
    font-size: 13.2px; } }
h1,
h2,
h3,
h4,
span,
p {
  font-family: "Open Sans", sans-serif; }

/************************************
Body Styles
*************************************/
.container {
  margin: 0;
  padding: 0;
  position: relative; }
  .container .main {
    height: 100%;
    width: 92%;
    position: relative;
    top: 0;
    left: 8%;
    border: 1px solid red; }
  .container a {
    text-decoration: none; }
  .container li {
    list-style-type: none;
    cursor: pointer; }

/************************************
 Header Styles : "My Web Dashboard.."
*************************************/
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5.438em;
  background: black;
  justify-content: flex-start; }
  header h1 {
    margin-left: .5em;
    color: white; }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px; }
    header ul li {
      list-style-type: none;
      width: 2em;
      text-align: center;
      margin: 0 .5em;
      height: 2em; }
      header ul li img {
        width: 100%;
        height: 100%;
        border-radius: 2em; }
      header ul li span {
        color: white; }
    header ul .vertical-line {
      height: 2.5em;
      border-radius: 2em;
      background: white;
      width: .2em; }

/**********************************************************************************
Dashbaord & Alert: "Dashboard, search [       ]; alert...."
***********************************************************************************/
.dashboard {
  display: flex;
  align-items: center; }
  .dashboard h1 {
    margin-left: .5em; }
  .dashboard input[type="input"] {
    margin-left: auto;
    margin-right: 0.5em; }

.alert {
  display: block;
  margin: auto;
  text-align: center; }

/**********************************************************************************
Navigation SVG's : "Members, Visits..." Blah Blah Blah!
***********************************************************************************/
.navigation {
  background: orange;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 87px;
  width: 8%;
  height: 100%;
  min-width: 80px;
  min-height: 100vh; }
  .navigation ul {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%; }
    .navigation ul li {
      margin: 1em;
      width: 65%;
      padding: .75em;
      height: 50%; }
      .navigation ul li svg {
        width: 100%;
        height: 100%; }

/********************************************************************************
Footer
***********************************************************************************/
footer {
  display: flex;
  justify-content: center; }

#bell-icon {
  width: 100%;
  margin: auto; }

.lineChart {
  height: 60%;
  display: flex;
  justify-content: center;
  border: 1px solid red; }

.pieChart,
.barChart {
  width: 33% !important;
  height: 50% !important;
  border: 1px solid orange;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=main.css.map */
