html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

@include font-size($font-size);
@include font-style($font-family);
/************************************
Body Styles
*************************************/

.container {
    margin: 0;
    padding: 0;
    position: relative;
    .main {
        height: 100%;
        width: 92%;
        position: relative;
        top: 0;
        left: 8%;
        border: 1px solid red;
    }
    a {
    text-decoration: none;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
}

/************************************
 Header Styles : "My Web Dashboard.."
*************************************/

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5.438em;
    background: black;
    justify-content: flex-start;
    @include media-query($tablet) {
        // flex-direction: row;
}
    h1 {
        margin-left: .5em;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
    //     @include media-query($tablet) {
    //     flex-direction: row;
    //     margin-left: auto;
    //     align-items: center;
    //     padding-left: 0;
    //     justify-content: flex-end;
    //     margin-right: .5em;
    //     ul:first-child {
    //         margin: 0 2em;
    //     }
    // }
        li {
            list-style-type: none;
            width: 2em;
            text-align: center;
            margin: 0 .5em;
            height: 2em;
            @include media-query($tablet) {
                //width
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 2em;
            }
            span {
                color: white;
            }
        }
        .vertical-line {
            height: 2.5em;
            border-radius: 2em;
            background: white;
            width: .2em;
        }
    }
}
    li:nth-of-type(1) {
        @include media-query($tablet) {
        }
    }

/**********************************************************************************
Dashbaord & Alert: "Dashboard, search [       ]; alert...."
***********************************************************************************/

.dashboard {
    display: flex;
    align-items: center;
    h1 {
        margin-left: .5em;
    }
    input[type="input"] {
        margin-left: auto;
        margin-right: .5em
    }
}
.alert {
    display: block;
    margin: auto;
    text-align: center;
}

/**********************************************************************************
Navigation SVG's : "Members, Visits..." Blah Blah Blah!
***********************************************************************************/

.navigation {
    background: orange;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 87px;
    width: 8%;
    height: 100%;
    min-width: 80px;
    min-height: 100vh;
        ul {
        display: flex;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;
        // min-width:
    li {
        margin: 1em;
        width: 65%;
        padding: .75em;
        height: 50%;
    svg {
        width: 100%;
        height: 100%;
        }
    }
}
}

/********************************************************************************
Footer
***********************************************************************************/

footer {
    display: flex;
    justify-content: center;}
