html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

@include font-size($font-size);
@include font-style($font-family);

/************************************
 Header Styles : "My Web Dashboard.."
*************************************/

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5.438em;
    background: black;
    justify-content: flex-start;
    @include media-query($tablet) {
        // flex-direction: row;
}
    h1 {
        margin-left: .5em;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
    //     @include media-query($tablet) {
    //     flex-direction: row;
    //     margin-left: auto;
    //     align-items: center;
    //     padding-left: 0;
    //     justify-content: flex-end;
    //     margin-right: .5em;
    //     ul:first-child {
    //         margin: 0 2em;
    //     }
    // }
        li {
            list-style-type: none;
            width: 2em;
            text-align: center;
            margin: 0 .5em;
            height: 2em;
            @include media-query($tablet) {
                //width
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 2em;
            }
            span {
                color: white;
            }
        }
        .vertical-line {
            height: 2.5em;
            border-radius: 2em;
            background: white;
            width: .2em;
        }
    }
}
    li:nth-of-type(1) {
        @include media-query($tablet) {
        }
    }
/**********************************************************************************
    Navigation SVG's : "Members, Visits..." Blah Blah Blah!
***********************************************************************************/

    .navigation {
        background: orange;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 87px;
        width: 80px;
        height: 100%;
        min-height: 100vh;
        ul {
        display: flex;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 100%;
        min-width: 80px;
        li {
            margin: 1em;
            width: 65%;
            padding: .75em;
            height: 50%;
        img {
            // min-width: 45px;
            width: 100%;
            }
        }
    }
}
/**********************************************************************************
Dashbaord & Alert: "Dashboard, search [       ]; alert...."
***********************************************************************************/

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: lightgray;
    h1 {
        padding: .5em;
        margin: 0;
        background: white;
        border-right: 1px solid black;
    }
    .search {
            height: 85px;
            display: flex;
            align-items: center;
            margin-right: 0;
            border-bottom: 1px solid black;
            width: 100%;
            justify-content: flex-end;
    }
    input[type=input]{
        border: 1px solid black;
        width: 35%;
        height: 45%;
        border-radius: 5px;
    }
}

.alert {
        display: flex;
        margin: 5px auto;
        text-align: center;
        background: orange;
        width: 90%;
        border-radius: 5px;
        justify-content: space-between;
        padding: 9px;
        color: white;
}

.alert span:nth-child(1),
span:nth-child(3){
    font-weight: bold;
    font-size: 15px;
    }

.alert span:nth-child(3){
    margin-right: 3px;
}


/**********************************************************************************
Charts
***********************************************************************************/

.traffic {
    display: flex;
    justify-content: flex-end;
    h2 {
    margin-right: auto;
    margin-left: 15px;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 0;
        margin-right: 15px;
        li {
        margin: 5px;
        button {
            border: none;
            background: orange;
            border-radius: 25px;
            width: 75px;
            color: white;
            }
        }
    }
}


/*******************************************************************************
Body Styles
*********************************************************************************/

.container {
    margin: 0;
    padding: 0;
    position: relative;

    .main {
        margin-left: 80px;
        border: 1px solid red;
    }
    a {
    text-decoration: none;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
    .social-media {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        .stats {
        display: flex;
        width: 100%;
        }
        .svg-container {
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            width: 25%;
            border-radius: 300px;
            img {
                width: 50px;
            }
        }

        .google,
        .facebook,
        .twitter {
            background: lightgray;
            width: 33%;
            display: flex;
            margin: 0 8px 4px 0;
            align-items: center;
            border: 1px solid black;
            padding: 20px;
            border-radius: 10px;
            }
    }



}

/********************************************************************************
New Members, Recent Activitiy "Secondary-main"
***********************************************************************************/


.secondary-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .recent-activity {
        width: 45%;
        margin-left: 5px;
    }
    .new-memebers {
        width: 45%;
        margin-right: 5px;
    }
    li {
    width: 100%;
    border: 1px solid red;
    display: block;
    height: 50px;
    }
}

/********************************************************************************
Footer
***********************************************************************************/

footer {
    display: flex;
    justify-content: center;
}
