.lineChart {
    height: 60%;
    display: flex;
    justify-content: center;
}

.smaller-graphs {
    display: flex;
    justify-content: center;

    .pieChart,
    .barChart {
        width: 33% !important;
        height: 50% !important;
        border: 1px solid black;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
