//Success Message Overlay

div#successmessage {
    position: fixed;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .innersuccess {
        background: rgba(3, 169, 244, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 50px;
    }
    h1 {
        color: white;
        font-size: 20px;
        margin-bottom:50px;
    }
}
    .innersuccess {
        input[type="submit"] {
            -webkit-appearance: none;
            width: 75%;
            height: 4em;
            background: #BBDEFB;
            border-radius: 5px;
            font-size: 20px;
            color: white;
            font-weight: bold;
            border: 3px solid white;
            margin: 5px auto;
            cursor: pointer;
    }
}

.innersuccess input[type="submit"]:hover {
    background-color: #1976D2;
    border: 3px solid #BBDEFB;
    transition: background-color .5s ease-in, border .5s ease-in;
}

// Mobile Navigation overlay

#menu {
    position: fixed;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    .innerMenu {
        background: rgba(3, 169, 244, 0.8);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 90%;
        height: 75%;
    }
    .ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-icon {
        width: 100%;
        height: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .icon {
        width: 35%;
        margin: 15px;
    }
}

.desktop-nav li:hover {
    border-left: 3px solid white;
}

.icon:hover {
    flex-grow: 1.5;
}

.close img {
    position: absolute;
    top: 15px;
    width: 55px;
    right: 15px;
    cursor: pointer;
}
#close:hover {
    cursor: pointer;
}
