/**********************************************************************************
Charts
***********************************************************************************/

.social-media {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    border-bottom: 1px solid black;
    h2 {
        margin-left: 2.5em;
    }
    .stats {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0 2.5em;
        justify-content: center;
        align-items: center;
        margin: auto;
        @include media-query($tablet){
            flex-direction: row;
            flex-wrap: wrap;
        }
        .google,
        .facebook,
        .twitter,
        .tumblr,
        .instagram {
            background: #0288D1;
            display: flex;
            flex-direction:column;
            margin: 15px 0;
            width: 50%;
            min-width: 150px;
            align-items: center;
            border: 1px solid #BBDEFB;
            justify-content: center;
            padding: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 2px 2px 2px 0px rgba(187, 222, 251, 0.5);
            -moz-box-shadow: 2px 2px 2px 0px rgba(187, 222, 251, 0.5);
            box-shadow: 2px 2px 2px 0px rgba(187, 222, 251, 0.5);
            @include media-query($tablet){
                flex-direction: row;
                margin: 10px 15px 0px 0;
                min-width: 150px;
                width: 30%;
            }
            // @include media-query($desktop){
            //     width: 18.5%;
            // }
        }
    .google li {
            min-width: 110px;
        }

    .svg-container {
        background: #B3E5FC;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        width: 80px;
        border-radius: 40px;
        margin-top: 30px;
        @include media-query($tablet){
            margin-top: 0;
            width: 70px;
        }
        @include media-query($desktop){
            width: 80px;
        }
        img {
            width: 50px;
        }
    //     @include media-query($tablet){
    //     width: 50%;
    //     flex-wrap: wrap;
    //     border-radius: 20px;
    // }
    //     @include media-query($desktop){
    //         width: 100%;
    //         border-radius: 20px;
    // }
}
    ul {
        margin-left: 0px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media-query($tablet){
        margin-left: 15px;
    }
    li {
        color: white;
        text-align: center;
        }
        }
    }
}

.social-media li:nth-of-type(1) {
    font-weight: bold;
    font-size: 20px;
}
.social-media li:nth-of-type(2) {
    font-weight: normal;
    font-size: 40px;
}
