/********************************************************************************
Tertiary Main
***********************************************************************************/

.tertiary-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    @include media-query($tablet) {
        flex-direction: row;
        height: 450px;

    }
    .settings {
        margin-top: 150px;
        @include media-query($tablet) {
            margin-top: 0;
        }
    }
    .message-user,
    .settings {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20%;
        align-items: center;
        justify-content: center;
        @include media-query($tablet) {
            width: 45%;
            padding: 0 2.5%;
            height: 100%;
            justify-content: flex-start;
        }
        h2 {
            text-align: center;
            align-self: center;
            @include media-query($tablet) {
                align-self: flex-start;
            }
        }
    }

    .form1,
    .form2 {
            align-self: flex-start;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
    }
}
// End of Tertiary main //

// Forms

    .form1 {
        .awesomplete {
            width: 100%;
        }
        #userinput {
                height: 4em;
                width: 100%;
                text-indent: 15px;
                border-radius: 5px;
                border: .5px solid rgba(189, 189, 189, 0.4);
        }

        textarea {
            height: 16em;
            font-size: 15px;
            width: 100%;
            text-indent: 15px;
            margin-top: 1em;
            border-radius: 5px;
            border: 3px solid rgba(189, 189, 189, 0.4);
        }
        input[type=submit] {
            height: 3em;
            width: 100%;
            margin-top: auto;
            background: #0288D1;
            border-radius: 5px;
            border: none;
            color: white;
            font-size: 15px;
            font-family: 'Cormorant Garamond', serif;
            margin-top: auto;
        }
}

.form2 {
    .row {
        width: 100%;
        display: flex;
        height: 4em;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        .buttonLabel {
            margin-right: auto;
            width: 108px;
        }
    .toggleswitch {
        position: relative;
        width: 90px;
        input#notifications,
        input#privacy {
            display: none;
        }
        .checkbox-label {
            width: 100%;
            border: 1px solid #0288D1;
            height: 40px;
            display: block;
            background: #0288D1;
            border-radius: 35px;
            overflow: hidden;
        }

        .innerswitch {
            display: flex;
            align-items: center;
            width: 200%;
            height: 100%;
            justify-content: space-around;
            }

        .switch {
            width: 18px;
            height: 18px;
            border: 3px solid #0288D1;
            display: block;
            border-radius: 20px;
            background: white;
            cursor: pointer;
            margin-right: 5px;
            position: absolute;
            top: 11px;
            right: 5px;
            }
    }
}
// End of Toggle Switch Styles!! //
    select {
        margin: auto auto 0 auto;
        display: block;
        width: 95%;
        height: calc(100% / 12 * 2 );
        -webkit-appearance: none;
        background: url(../icons/downarrow.svg) no-repeat calc(100% - 5px) calc(50%) #BBDEFB;
        text-indent: 1em;
        border: none;
    }
    input[type=submit] {
        height: 3em;
        -webkit-appearance: none;
        margin: auto auto 0 auto;
        width: 45%;
        border-radius: 5px;
        background: #0288D1;
        border: none;
        color: white;
        font-size: 15px;
        font-family: 'Cormorant Garamond', serif;
    }
}

//Psuedo States

// 1 . Toggle switch

.toggleswitch:hover {
    cursor: pointer;
}

input#notifications:checked + .checkbox-label .innerswitch,
input#privacy:checked + .checkbox-label .innerswitch {
    margin-left: -100%;
    background: #BBDEFB;
}

input#notifications:checked + .checkbox-label .switch,
input#privacy:checked + .checkbox-label .switch {
    left: 5px;
    right: 0px;
}

span.innerswitch:after,
span.innerswitch:before {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-weight: bold;
    font-size: 13.5px;
    color: white;
}
span.innerswitch:before {
    content: "ON";
    padding-right: 25%;
}
span.innerswitch:after {
    content: "OFF";
    padding-left: 25%;
    color: #212121;
}
.checkbox-label:hover {
    cursor: pointer;
}
// 2 . Placeholder Text:

//    a. input & text Area

    #userinput::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: rgba(33, 33, 33, 0.4);
        font-size: 18px;
        font-style: italic;
        font-family: 'Cormorant Garamond', serif;
    }
    textarea:focus,
    #userinput:focus {
        text-indent: 10px;
        border: .5px solid #BBDEFB;

    }
    #userinput:placeholder-shown,
    textarea:placeholder-shown {
        background: rgba(189, 189, 189, 0.2);
        border: .5px solid rgba(189, 189, 189, 0.4);
    }
    #userinput:focus,
    .form1 textarea:focus {
        -webkit-box-shadow: 2px 4px 2px 0px rgba(189,189,189,1);
        -moz-box-shadow: 2px 4px 2px 0px rgba(189,189,189,1);
        box-shadow: .5px .5px .5px 0px rgba(189,189,189,1);
    }

// Message User <Textarea> styles

    textarea::-webkit-input-placeholder,
    #userinput::-webkit-input-placeholder {
        text-indent: 15px;

    }
