/**********************************************************************************
Charts
***********************************************************************************/
#line {
    padding: 10px;
}

#bar, #pie {
    padding: 10px;
}

#pie {
    padding-bottom: 10px;
}

.traffic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    @include media-query($tablet) {
            flex-direction: row;
            justify-content: flex-end;
    }
    h2 {
    margin: auto;
        @include media-query($tablet) {
            margin-right: auto;
            margin-left: 15px;
        }
    }
    ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        @include media-query($tablet) {
            justify-content: flex-end;
            margin-right: 15px;
            flex-direction: row;
        }
        li {
            margin: 5px;
            border: 2px solid #B3E5FC;
            background: #0288D1;
            padding: 10px 20px;
            display: flex;
            width: 95px;
            border-radius: 35px;
            justify-content: center;
            align-items: center;
            transition: transform .5s, background 2s;
        }

        .selected {
            border: 2px solid #1976D2;
            background: rgba(187, 222, 251, 0.7);
        }
        .selected a {
            color: #212121;
        }
        a {
            color: white;
            font-size: 15px;
            @include media-query($tablet){
                font-size: 20px;
            }
        }
    }
}

.lineChart {
    height: 100%;
    display: flex;
    justify-content: center;

}

.smaller-graphs {
    display: flex;
    justify-content: center;
    border-top: .5px solid black;
    border-bottom: .5px solid black;
    flex-direction: column;
    @include media-query($tablet) {
        flex-direction: row;
    }
}
canvas#pie {
    @include media-query($tablet) {
        border-left: .5px solid black;
    }
}
.pieChart,
.barChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90%;
    @include media-query($tablet) {
        width: 50%;
        height: 60%;
        justify-content: flex-start;
}
}
.graph-header {
    display: flex;
    width: 100%;
    justify-content: center;
    @include media-query($tablet) {
        justify-content: flex-start;
        align-self: flex-start;
        padding-left: 1em;
    }
}

.mobileusers {
    @include media-query($tablet) {
        border-left: .5px solid black;
    }
}

.traffic li:hover {
    transform:scale(1.05);
    background: #448AFF;
    & a {
        color: white;
        font-weight: bold;
    }
}
