/********************************************************************************
Tertiary Main
***********************************************************************************/

.tertiary-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    @include media-query($tablet) {
        flex-direction: row;
        height: 350px;

    }

    .message-user,
    .settings {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20%;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        @include media-query($tablet) {
            width: 45%;
            padding: 0 2.5%;
            height: 100%;
            justify-content: flex-start;
        }
        h2 {
            text-align: center;
            align-self: center;
            @include media-query($tablet) {
                align-self: flex-start;
            }
        }
    }

    .form1,
    .form2 {
            align-self: flex-start;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
    }
}
// End of Tertiary main //

// Forms

    .form1 {
        input[type="text"] {
                height: 4em;
                width: 100%;
                border: 1px solid black;
                border-radius: 5px;
        }

        textarea {
            height: 16em;
            width: 100%;
            margin-top: 1em;
            border-radius: 5px;
        }
        input[type=submit] {
            height: 4em;
            width: 100%;
            margin-top: auto;
            background: #0288D1;
            border-radius: 5px;
            border: none;
            color: white;
        }
}

.form2 {
    .row {
        width: 100%;
        display: flex;
        height: 4em;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        h3 {
            margin-right: auto;
        }
    .toggleswitch {
        position: relative;
        width: 90px;
        input#notifications,
        input#privacy {
            display: none;
        }
        .checkbox-label {
            width: 100%;
            border: 1px solid #0288D1;
            height: 40px;
            display: block;
            background: #0288D1;
            border-radius: 35px;
            overflow: hidden;
        }

        .innerswitch {
            display: flex;
            align-items: center;
            width: 200%;
            height: 100%;
            justify-content: space-around;
            }

        .switch {
            width: 18px;
            height: 18px;
            border: 3px solid #0288D1;
            display: block;
            border-radius: 20px;
            background: white;
            cursor: pointer;
            margin-right: 5px;
            position: absolute;
            top: 11px;
            right: 5px;
            }
    }
}
// End of Toggle Switch Styles!! //
    select {
        margin: auto auto 0 auto;
        display: block;
        width: 95%;
        height: calc(100% / 12 * 2 );
        -webkit-appearance: none;
        background: url(../icons/downarrow.svg) no-repeat calc(100% - 5px) calc(50%) #BBDEFB;
        text-indent: 1em;
    }
    input[type=submit] {
        height: 4em;
        -webkit-appearance: none;
        margin: auto auto 0 auto;
        width: 45%;
        border-radius: 5px;
        background: #0288D1;
        border: none;
        color: white;
    }
}

//Psuedo States

// 1 . Toggle switch

.toggleswitch:hover {
    cursor: pointer;
}

input#notifications:checked + .checkbox-label .innerswitch,
input#privacy:checked + .checkbox-label .innerswitch {
    margin-left: -100%;
    background: white;
}

input#notifications:checked + .checkbox-label .switch,
input#privacy:checked + .checkbox-label .switch {
    left: 5px;
    right: 0px;
}

span.innerswitch:after,
span.innerswitch:before {
    display: inline-block;
    width: 45%;
    text-align: center;
    font-weight: bold;
    font-size: 13.5px;
}
span.innerswitch:before {
    content: "ON";
    padding-right: 25%;
}
span.innerswitch:after {
    content: "OFF";
    padding-left: 25%;
}

// 2 . Placeholder Text

input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    text-indent: 2px;
    font-size: 12px;
    color: #757575;
}
.form1 input[type="text"]::-webkit-input-placeholder {
    text-indent: -9px;
}
input[type="text"]:focus,
textarea:focus {
    text-indent: 2px;
}
