/************************************
Mixin Standards
*************************************/

@include font-size($font-size);
@include font-style($header, $other);

* {
    box-sizing: border-box;
}

    #bell-icon {
        width: 100%;
        margin: auto;
    }
