/*******************************************************************************
Body Styles
*********************************************************************************/
/************************************
Mixin Standards
*************************************/

@include font-size($font-size);
@include font-style($header, $other);

* {
    box-sizing: border-box;
}

html {
    // width: calc(100% + 80px);
    width: 100%;
    @include media-query($tablet){
        width: 100%;
    }
}
input:focus,
textarea:focus {
    outline: none;
    border: .5px solid #BBDEFB;
}
.container {
    margin: 0;
    padding: 0;
    position: relative;
    h2 {
        text-align: center;
        @include media-query($tablet){
            text-align: left;
        }

    }

    #bell-icon {
        width: 100%;
        margin: auto;
    }

    .main {
        @include media-query($tablet){
            margin-left: 80px;
        }

    }
    a {
    text-decoration: none;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
}
