/************************************
 Header Styles : "My Web Dashboard.."
*************************************/

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5.438em;
    background: #03A9F4;
    justify-content: flex-start;
    @include media-query($tablet) {
        // flex-direction: row;
}
    h1 {
        margin-left: .5em;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
        margin-left: calc(100% - 400px);
    //     @include media-query($tablet) {
    //     flex-direction: row;
    //     margin-left: auto;
    //     align-items: center;
    //     padding-left: 0;
    //     justify-content: flex-end;
    //     margin-right: .5em;
    //     ul:first-child {
    //         margin: 0 2em;
    //     }
    // }
        li {
            list-style-type: none;
            width: 30px;
            text-align: center;
            margin: 0 .5em;
            height: 30px;
            @include media-query($tablet) {
                //width
            }
            .alert-icon {
                width: 10px;
                height: 10px;
                background: white;
                border-radius: 5px;
                position: absolute;
                bottom: 22.4px;
                right: -4px;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 2em;
            }
            span {
                color: white;
            }
        }
        .vertical-line {
            height: 100%;
            border-radius: 2em;
            background: white;
        }
    }
}

    header li:nth-of-type(2) {
        width: 2.5px;
        height: 30px;
    }
    li:nth-of-type(1) {
        @include media-query($tablet) {
        }
    }

    header li:nth-of-type(1) {
        position:relative;
    }
