/**********************************************************************************
    Navigation SVG's : "Members, Visits..." Blah Blah Blah!
***********************************************************************************/

    .navigation {
        background: #0288D1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @include media-query($tablet){
            background: #0288D1;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            top: 87px;
            width: 80px;
            height: 100%;
            min-height: 100vh;
        }
        ul {
            display: flex;
            padding-left: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            width: 100%;
            min-width: 80px;
        li {
            width: 15%;
            margin: 1em 0em;
            padding: .75em;
            @include media-query($tablet){
            width: 100%;
        }
        img {
            @include media-query($tablet){
                width: 65%;
                }
            }
        }
    }
    .mobile-nav {
        background: #03A9F4;
        margin: 10px;
        border-radius: 20px;
        -webkit-box-shadow: -6px 0px 5px -4px rgba(33,33,33,1);
        -moz-box-shadow: -6px 0px 5px -4px rgba(33,33,33,1);
        box-shadow: -6px 0px 5px -4px rgba(33,33,33,1);
        @include media-query($tablet){
            display: none;
        }
        li {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .desktop-nav {
        display: none;
        @include media-query($tablet) {
            display: flex;
        }
    }
}

.mobile-nav li:hover {
    border-left: none;
    cursor: cursor
}
